<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
<!--            <img src="static/images/main-logo.png" alt="" srcset="">-->
            <img th:src="@{/images/main-logo.png}" alt="Logo">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">


<!--                <li class='sidebar-title'>Main Menu</li>-->


                <li class="sidebar-item active">
                    <a href="index.html" class="sidebar-link">
                        <i data-feather="home" width="20"></i>
                        <span>Tổng Quát</span>
                    </a>
                </li>




                <li class="sidebar-item  ">
                    <a href="form-layout.html" class='sidebar-link'>
                        <i data-feather="layout" width="20"></i>
                        <span>Bán Hàng Tại Quầy</span>
                    </a>

                </li>
                <li class="sidebar-item  ">
                    <a th:href="@{hoa-don}" class='sidebar-link'>
                        <i data-feather="briefcase" width="20"></i>
                        <span>Đơn Hàng</span>
                    </a>

                </li>
                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i>
                        <span>Quản Lý Sản Phẩm</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a th:href="@{/san-pham/danh-sach-san-pham}">Sản Phẩm</a>
                        </li>
                        <li>
                            <a th:href="@{/mau-sac}">Màu Sắc</a>
                        </li>
                        <li>
                            <a th:href="@{/chat-lieu}">Chất Liệu</a>
                        </li>

                        <li>
                            <a th:href="@{/de-giay}">Đế Giày</a>
                        </li>
                        <li>
                            <a th:href="@{/kich-co}">Kích Cỡ</a>
                        </li>


                        <li>
                            <a th:href="@{/loai-giay}">Loại Giày</a>
                        </li>


                        <li>
                            <a href="/danh-sach-thuong-hieu">Thương hiệu</a>
                        </li>



                    </ul>

                </li>







                <li class="sidebar-item">
                    <a th:href="@{/phieu-giam-gia}" class='sidebar-link'>
                        <i data-feather="dollar-sign" width="20"></i>
                        <span th:text="'Voucher'">Voucher</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i>
                        <span>Quản Lý Tài Khoản</span>
                    </a>

                    <ul class="submenu ">

                        <li>
                            <a href="/danh-sach-nhan-vien">Nhân Viên</a>
                        </li>

                        <li>
                            <a href="/khach-hang/danh-sach">Khách Hàng</a>
                        </li>



                    </ul>

                </li>




                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i data-feather="trending-up" width="20"></i>
                        <span>Thống kê</span>
                    </a>



                </li>

                <li class="sidebar-item  ">
                    <a th:href="@{/ds-kich-co}" class='sidebar-link'>
                        <i data-feather="log-out" width="20"></i>
                        <span>Đăng Xuất</span>
                    </a>

                </li>









            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>