<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0d3163487.js" crossorigin="anonymous"></script>
    <title>Dashboard - Voler Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link CSS files -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div id="app"><!-- Main content -->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>
    <div id="main"><!-- Content area -->
        <span th:replace="~{fragments/header :: header}"></span>
        <div class="main-content container-fluid" layout:fragment="content"><!-- Dynamic content -->

            <div class="container text-center">
                <!-- Tabs navigation -->
                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all"
                                aria-selected="true">Tất cả
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-waiting-confirm-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-waiting-confirm"
                                type="button" role="tab" aria-controls="pills-waiting-confirm" aria-selected="false">Chờ
                            Xác nhận
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-confirmed-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-confirmed"
                                type="button" role="tab" aria-controls="pills-confirmed" aria-selected="false">Đã Xác
                            nhận
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-waiting-delivery-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-waiting-delivery"
                                type="button" role="tab" aria-controls="pills-waiting-delivery" aria-selected="false">
                            Chờ Vận Chuyển
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-delivery-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-delivery" type="button"
                                role="tab" aria-controls="pills-delivery" aria-selected="false">Vận Chuyển
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-payment-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-payment" type="button"
                                role="tab" aria-controls="pills-payment" aria-selected="false">Thanh toán
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-completed-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-completed"
                                type="button" role="tab" aria-controls="pills-completed" aria-selected="false">Hoàn
                            thành
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-cancelled-tab"
                                data-bs-toggle="pill" data-bs-target="#pills-cancelled"
                                type="button" role="tab" aria-controls="pills-cancelled" aria-selected="false">Huỷ
                        </button>
                    </li>
                </ul>


                <!-- Tabs content -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-all" role="tabpanel"
                         aria-labelledby="pills-all-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>

                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="hoaDon, iterStat : ${hoaDons}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>

                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>


                                    </td>
                                </tr>
                                <!-- If the invoice list is empty -->
                                <tr th:if="${#lists.isEmpty(hoaDons)}">
                                    <td colspan="9">Không có hóa đơn nào.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--cho xác nhận-->
                    <div class="tab-pane fade" id="pills-waiting-confirm" role="tabpanel"
                         aria-labelledby="pills-waiting-confirm-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Chờ Xác nhận" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 1}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn chờ xác nhận.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--                    Dã xac nhận-->
                    <div class="tab-pane fade" id="pills-confirmed" role="tabpanel"
                         aria-labelledby="pills-confirmed-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Đã Xác nhận" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 2}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn đã xác nhận.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--                    Chờ vận chuyển-->
                    <div class="tab-pane fade" id="pills-waiting-delivery" role="tabpanel"
                         aria-labelledby="pills-waiting-delivery-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Chờ Vận Chuyển" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 3}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn chờ vận chuyển.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--vẬN CHUYỂN-->
                    <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab"
                         tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Vận Chuyển" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 4}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn đang vận chuyển.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--tHANH TOÁN-->
                    <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab"
                         tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Thanh Toán" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 5}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn chờ thanh toán.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--                    hoàn thành-->
                    <div class="tab-pane fade" id="pills-completed" role="tabpanel"
                         aria-labelledby="pills-completed-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Hoàn Thành" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 6}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <!-- Hiển thị tổng tiền mà không làm tròn -->
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn đã hoàn thành.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--hủy-->
                    <div class="tab-pane fade" id="pills-cancelled" role="tabpanel"
                         aria-labelledby="pills-cancelled-tab" tabindex="0">
                        <div class="container mt-3">
                            <table class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Số Điện Thoại</th>
                                    <th>Tổng Tiền (VNĐ)</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Hiển thị danh sách hóa đơn với trạng thái "Hủy" -->
                                <tr th:each="hoaDon, iterStat : ${hoaDons}" th:if="${hoaDon.trangThai == 7}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${hoaDon.maHd}"></td>
                                    <td th:text="${hoaDon.loaiHoaDon}"></td>
                                    <td th:text="${hoaDon.khachHang.ten}"></td>
                                    <td th:text="${hoaDon.sdt}"></td>
                                    <td th:text="${hoaDon.tongTien} + ' VND'"></td>
                                    <td th:text="${hoaDon.getStringTrangThai()}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center gap-2">
                                            <a th:href="@{'/hoa-don/detail1/' + ${hoaDon.id}}"
                                               class="btn btn-info btn-sm px-3"
                                               data-idhd="${hoaDon.id}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Nếu không có hóa đơn nào -->
                                <tr th:unless="${hoaDons.size() > 0}">
                                    <td colspan="8">Không có hóa đơn đã bị hủy.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
    <div>
        <span th:replace="~{fragments/footer :: footer}"></span>
    </div>
</div>

<!-- Script files -->
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
