<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0d3163487.js" crossorigin="anonymous"></script>

    <title>Danh Sách Nhân Viên</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>

<div id="app"><!--Main content-->
    <span th:replace="~{fragments/sidebar :: sidebar}"></span>
    <div id="main"><!--Content id-->
        <span th:replace="~{fragments/header :: header}"></span>
        <div class="main-content container-fluid" layout:fragment="content"><!--dynamic content-->
            <!-- You can replace this using page-->
            <div class="row">
                <div class="col-md-12 mb-4">
                    <!-- Section 1 -->
                    <h1 class="text-lg-center">Danh Sách Nhân Viên</h1>
                </div>

                <div class="col-md-12">
                    <!-- Section 2 -->
                    <a th:href="@{/add-viewNV}" class="btn btn-primary btn-sm" id="add-view">+ Thêm Nhân Viên</a>

                    <table id="NhanVienTable" class="table table-striped table-hover table-sm">
                        <thead class="bg-blue-300">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Mã Nhân Viên</th>
                            <th scope="col">Số Điện Thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col">Họ Và Tên</th>

                            <th scope="col">Giới Tính</th>
                            <th scope="col">Địa Chỉ</th>


                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="nv, iterStat : ${listNhanVien}">
                            <td th:text="${iterStat.index + 1}"></td>
                            <td th:text="${nv.maNv}"></td>
                            <td th:text="'0' +${nv.sdt}"></td>
                            <td th:text="${nv.email}"></td>

                            <td th:text="${nv.ho + ' ' + nv.tenDem + ' ' + nv.ten}"></td>

                            <td th:text="${nv.gioiTinh == 1 ? 'Nữ' : 'Nam'}"></td>

                            <td th:text="${nv.diaChi}"></td>

                            <td th:text="${nv.trangThai == 1 ? 'Hoạt Động' : (nv.trangThai == 0 ? 'Không Hoạt Động' : 'Đang chờ xử lý')}"></td>
                            <td>
                                <a th:href="@{'/updateNV-view/' + ${nv.maNv}}" class="btn btn-link btn-sm">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </td>



                            <td>
                                <a th:href="@{/deleteNV/{id}(id=${nv.id})}" class="btn btn-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên này không?');">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <span th:replace="~{fragments/footer :: footer}"></span>
</div>
</div>

<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
